In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("/home/hp/Sanchit")

In [2]:
raw_data = pd.read_csv(
    'StarWars.csv', 
    header=[0,1], 
    encoding='unicode_escape'
)

print("Shape = ", raw_data.shape)
raw_data.head()

Shape =  (1186, 38)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28_level_0,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
,Unnamed: 0_level_1,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [3]:
# new labels
with open('column_names.txt', 'r') as cn:
    col_names = [line.strip() for line in cn]

# read in dataset with new header
data = pd.read_csv('StarWars.csv', 
    header=0,  # ignore raw header
    names=col_names,  # use new header
    skiprows=1  # skip first two rows (old header rows)
)

print("Shape = ", data.shape)
data.head()

Shape =  (1186, 38)

,RespondentID,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### Missing Values  
Next, we will display the number of missing values in each column of the raw dataset.

In [4]:
# display number of missing values per column
print("Total Missing Values:\n\n" + str(data.isnull().sum()))

Total Missing Values:

RespondentID                              0
Seen a Star Wars film                     0
Fan of Star Wars                        350
Seen The Phantom Menace                 513
Seen Attack of the Clones               615
Seen Revenge of the Sith                636
Seen A New Hope                         579
Seen The Empire Strikes Back            428
Seen Return of the Jedi                 448
Rank for The Phantom Menace             351
Rank for Attack of the Clones           350
Rank for Revenge of the Sith            351
Rank for A New Hope                     350
Rank for The Empire Strikes Back        350
Rank for Return of the Jedi             350
View of Han Solo                        357
View of Luke Skywalker                  355
View of Princess Leia Organa            355
View of Anakin Skywalker                363
View of Obi Wan Kenobi                  361
View of Emperor Palpatine               372
View of Darth Vader                     360
View of Lando Calrissian                366
View of Boba Fett                       374
View of C-3P0                           359
View of R2 D2                           356
View of Jar Jar Binks                   365
View of Padme Amidala                   372
View of Yoda                            360
Which character shot first?             358
Familiar with the Expanded Universe?    358
Fan of the Expanded Universe?           973
Star Trek Fan                           118
Gender                                  140
Age                                     140
Household Income                        328
Education                               150
Location (Census Region)                143
dtype: int64

In [5]:
# Replace missing values

# "Fan of Star Wars"
data["Fan of Star Wars"].replace(np.NaN, "Maybe", inplace=True)

# "Seen {Movie}"
seen_cols = col_names[3:9]
for col in seen_cols:
    data[col].replace(data[col].unique()[0], "Yes", inplace=True)
    data[col].replace(np.NaN, "No", inplace=True)
    
# "Rank for {Movie}"
rank_cols = col_names[9:15]
for col in rank_cols:
    data[col].replace(np.NaN, 0.0, inplace=True)
    
# "View of {Character}"
view_cols = col_names[15:29]
for col in view_cols:
    data[col].replace(np.NaN, "Unfamiliar (N/A)", inplace=True)  

# "Which character shot first?"
data["Which character shot first?"].replace(np.NaN, "I don't understand this question", inplace=True)

# "{Familiar with, Fan of} the Expanded Universe?"  
data["Familiar with the Expanded Universe?"].replace(np.NaN, "?", inplace=True)
data["Fan of the Expanded Universe?"].replace(np.NaN, "?", inplace=True)

# "Star Trek Fan" 
data["Star Trek Fan"].replace(np.NaN, "Maybe", inplace=True)

# Labels Columns ("Gender", "Age", "Household Income", "Education", and "Location (Census Region)")
labels_cols = col_names[33:39]
for col in labels_cols:
    data[col].replace(np.NaN, "?", inplace=True)

print("Shape = ", data.shape)
data.head()

Shape =  (1186, 38)

,RespondentID,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,3292879998,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,?,High school degree,South Atlantic
1,3292879538,No,Maybe,No,No,No,No,No,No,0.0,...,Unfamiliar (N/A),I don't understand this question,?,?,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Yes,Yes,Yes,No,No,No,1.0,...,Unfamiliar (N/A),I don't understand this question,No,?,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Very favorably,I don't understand this question,No,?,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

Now, we will see that no missing values remain in the dataset.

In [6]:
# display number of missing values per column
print("Total Missing Values:\n\n" + str(data.isnull().sum()))

Total Missing Values:

RespondentID                            0
Seen a Star Wars film                   0
Fan of Star Wars                        0
Seen The Phantom Menace                 0
Seen Attack of the Clones               0
Seen Revenge of the Sith                0
Seen A New Hope                         0
Seen The Empire Strikes Back            0
Seen Return of the Jedi                 0
Rank for The Phantom Menace             0
Rank for Attack of the Clones           0
Rank for Revenge of the Sith            0
Rank for A New Hope                     0
Rank for The Empire Strikes Back        0
Rank for Return of the Jedi             0
View of Han Solo                        0
View of Luke Skywalker                  0
View of Princess Leia Organa            0
View of Anakin Skywalker                0
View of Obi Wan Kenobi                  0
View of Emperor Palpatine               0
View of Darth Vader                     0
View of Lando Calrissian                0
View of Boba Fett                       0
View of C-3P0                           0
View of R2 D2                           0
View of Jar Jar Binks                   0
View of Padme Amidala                   0
View of Yoda                            0
Which character shot first?             0
Familiar with the Expanded Universe?    0
Fan of the Expanded Universe?           0
Star Trek Fan                           0
Gender                                  0
Age                                     0
Household Income                        0
Education                               0
Location (Census Region)                0
dtype: int64

In [7]:
# ignore RespondentID column since all its values are unique 
data_unindexed = data.drop(['RespondentID'],axis=1)
cols_unindexed = [c for c in col_names if c != 'RespondentID']

In [8]:
# identify duplicate rows (excluding their first occurrence)
duplicate_rows = data_unindexed[data.duplicated()]
print("Number of Duplicate Rows: " + str(len(duplicate_rows)))

Number of Duplicate Rows: 0

In [9]:
# write unique values to a file
print("Total Unique Values for each column:\n")
with open('unique_values.txt', 'w') as uv:
    for name in cols_unindexed:
        uvals = data[name].unique()
        uv.write(name + '\n')
        for val in uvals:
            uv.write(str(val) + '\n')
        uv.write('\n')
        print(name + ": " + str(len(uvals)))

Total Unique Values for each column:

Seen a Star Wars film: 3
Fan of Star Wars: 5
Seen The Phantom Menace: 2
Seen Attack of the Clones: 2
Seen Revenge of the Sith: 2
Seen A New Hope: 2
Seen The Empire Strikes Back: 2
Seen Return of the Jedi: 2
Rank for The Phantom Menace: 7
Rank for Attack of the Clones: 7
Rank for Revenge of the Sith: 7
Rank for A New Hope: 7
Rank for The Empire Strikes Back: 7
Rank for Return of the Jedi: 7
View of Han Solo: 6
View of Luke Skywalker: 6
View of Princess Leia Organa: 6
View of Anakin Skywalker: 6
View of Obi Wan Kenobi: 6
View of Emperor Palpatine: 6
View of Darth Vader: 6
View of Lando Calrissian: 6
View of Boba Fett: 6
View of C-3P0: 6
View of R2 D2: 6
View of Jar Jar Binks: 6
View of Padme Amidala: 6
View of Yoda: 6
Which character shot first?: 3
Familiar with the Expanded Universe?: 3
Fan of the Expanded Universe?: 4
Star Trek Fan: 6
Gender: 6
Age: 6
Household Income: 6
Education: 6
Location (Census Region): 10

In [10]:
data.to_csv('survey_data.csv', index=False)

In [11]:
# Read the data from csv file
with open('column_names.txt', 'r') as cn:
    col_names = [line.strip() for line in cn]
    
data = pd.read_csv('survey_data.csv')

In [12]:
# remove RespondentID column
data.drop(['RespondentID'],axis=1, inplace=True)
col_names.remove('RespondentID')

data.head()

,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,Rank for Attack of the Clones,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,2.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,?,High school degree,South Atlantic
1,No,Maybe,No,No,No,No,No,No,0.0,0.0,...,Unfamiliar (N/A),I don't understand this question,?,?,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,Yes,No,Yes,Yes,Yes,No,No,No,1.0,2.0,...,Unfamiliar (N/A),I don't understand this question,No,?,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,6.0,...,Very favorably,I don't understand this question,No,?,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,4.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [13]:
for col in data:
    data[col].replace("Yess", 1, inplace= True)
    data[col].replace("yes", 1, inplace = True)
    data[col].replace("Yes ", 1, inplace = True)
    data[col].replace("Noo", 0 , inplace = True)
    data[col].replace("no ", 0, inplace= True)
    data[col].replace("F",1, inplace= True)

In [23]:
# convert categorical to numeric

# "Seen a Star Wars film"
data["Seen a Star Wars film"].replace("No", 0, inplace=True)
data["Seen a Star Wars film"].replace("Nooo", 0, inplace=True)
data["Seen a Star Wars film"].replace("Yes", 1, inplace=True)
data["Seen a Star Wars film"].replace("Yess", 1, inplace=True)
data["Seen a Star Wars film"].replace("Yes", 1, inplace=True)
data["Seen a Star Wars film"].replace("", 1, inplace=True)
# "Fan of Star Wars"
data["Fan of Star Wars"].replace("No", -1, inplace=True)
data["Fan of Star Wars"].replace("Maybe", 0, inplace=True)
data["Fan of Star Wars"].replace("Yes", 1, inplace=True)

# "Seen {Movie}"
seen_cols = col_names[2:8]
for col in seen_cols:
    data[col].replace("No", 0, inplace=True)
    data[col].replace("Yes", 1, inplace=True)
    
# "Rank for {Movie}"
# unchanged
    
# "View of {Character}"
view_cols = col_names[14:28]
for col in view_cols:
    data[col].replace("Very unfavorably", -2, inplace=True)  
    data[col].replace("Somewhat unfavorably", -1, inplace=True) 
    data[col].replace("Neither favorably nor unfavorably (neutral)", 0, inplace=True)  
    data[col].replace("Somewhat favorably", 1, inplace=True) 
    data[col].replace("Very favorably", 2, inplace=True) 
    data[col].replace("Unfamiliar (N/A)", -100, inplace=True)  

# "Which character shot first?"
data["Which character shot first?"].replace("Han", -1, inplace=True)
data["Which character shot first?"].replace("I don't understand this question", 0, inplace=True)
data["Which character shot first?"].replace("Greedo", 1, inplace=True)

# "{Familiar with, Fan of} the Expanded Universe?"  
univ_cols = col_names[29:31]
for col in univ_cols:
    data[col].replace("No", -1, inplace=True)
    data[col].replace("?", 0, inplace=True)
    data[col].replace("Yes", 1, inplace=True)

# "Star Trek Fan" 
data["Star Trek Fan"].replace("No", -1, inplace=True)
data["Star Trek Fan"].replace("Maybe", 0, inplace=True)
data["Star Trek Fan"].replace("Yes", 1, inplace=True)

# "Gender"
data["Gender"].replace("Male", -1, inplace=True)
data["Gender"].replace("male",-1, inplace=True)
data["Gender"].replace("?", 0, inplace=True)
data["Gender"].replace("Female", 1, inplace=True)
data["Gender"].replace("female", 1, inplace = True)

# "Age"
data["Age"].replace("18-29", 1, inplace=True)
data["Age"].replace("30-44", 2, inplace=True)
data["Age"].replace("45-60", 3, inplace=True)
data["Age"].replace("> 60", 4, inplace=True)
data["Age"].replace("?", 0, inplace=True)

# "Household Income"
data["Household Income"].replace("$0 - $24,999", 1, inplace=True)
data["Household Income"].replace("$25,000 - $49,999", 2, inplace=True)
data["Household Income"].replace("$50,000 - $99,999", 3, inplace=True)
data["Household Income"].replace("$100,000 - $149,999", 4, inplace=True)
data["Household Income"].replace("$150,000+", 5, inplace=True)
data["Household Income"].replace("?", 0, inplace=True)

# "Education"
data["Education"].replace("Less than high school degree", 1, inplace=True)
data["Education"].replace("High school degree", 2, inplace=True)
data["Education"].replace("Some college or Associate degree", 3, inplace=True)
data["Education"].replace("Bachelor degree", 4, inplace=True)
data["Education"].replace("Graduate degree", 5, inplace=True)
data["Education"].replace("?", 0, inplace=True)

# "Location (Census Region)"
data["Location (Census Region)"].replace("South Atlantic", 1, inplace=True)
data["Location (Census Region)"].replace("West South Central", 2, inplace=True)
data["Location (Census Region)"].replace("West North Central", 3, inplace=True)
data["Location (Census Region)"].replace("Middle Atlantic", 4, inplace=True)
data["Location (Census Region)"].replace("East North Central", 5, inplace=True)
data["Location (Census Region)"].replace("Pacific", 6, inplace=True)
data["Location (Census Region)"].replace("Mountain", 7, inplace=True)
data["Location (Census Region)"].replace("New England", 8, inplace=True)
data["Location (Census Region)"].replace("East South Central", 9, inplace=True)
data["Location (Census Region)"].replace("?", 0, inplace=True)

data.astype(int)
data.head()

,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,Rank for Attack of the Clones,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,1,1,1,1,1,1,1,1,3.0,2.0,...,2,0,1,-1,-1,-1,1,0,2,1
1,0,0,0,0,0,0,0,0,0.0,0.0,...,-100,0,0,0,1,-1,1,1,4,2
2,1,-1,1,1,1,0,0,0,1.0,2.0,...,-100,0,-1,0,-1,-1,1,1,2,3
3,1,1,1,1,1,1,1,1,5.0,6.0,...,2,0,-1,0,1,-1,1,4,3,3
4,1,1,1,1,1,1,1,1,5.0,4.0,...,1,1,1,-1,-1,-1,1,4,3,3

In [15]:
data.to_excel("numeric.xlsx")

In [16]:
data=data.replace(to_replace=['500'], value=[5])

In [17]:
data.astype(int)

,Seen a Star Wars film,Fan of Star Wars,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,Rank for Attack of the Clones,...,View of Yoda,Which character shot first?,Familiar with the Expanded Universe?,Fan of the Expanded Universe?,Star Trek Fan,Gender,Age,Household Income,Education,Location (Census Region)
0,1,1,1,1,1,1,1,1,3,2,...,2,0,1,-1,-1,-1,1,0,2,1
1,0,0,0,0,0,0,0,0,0,0,...,-100,0,0,0,1,-1,1,1,4,2
2,1,-1,1,1,1,0,0,0,1,2,...,-100,0,-1,0,-1,-1,1,1,2,3
3,1,1,1,1,1,1,1,1,5,6,...,2,0,-1,0,1,-1,1,4,3,3
4,1,1,1,1,1,1,1,1,5,4,...,1,1,1,-1,-1,-1,1,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,1,1,1,1,1,1,1,1,5,4,...,2,-1,-1,0,1,1,1,1,3,5
1182,1,1,1,1,1,1,1,1,4,5,...,2,0,-1,0,1,1,2,3,4,7
1183,0,0,0,0,0,0,0,0,0,0,...,-100,0,0,0,-1,1,2,3,4,4
1184,1,1,1,1,1,1,1,1,4,3,...,2,-1,-1,0,1,1,3,4,3,5
1185,1,-1,1,1,0,0,1,1,6,1,...,-2,0,-1,0,-1,1,4,3,5,6

In [24]:
import warnings
warnings.simplefilter("ignore")

import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [25]:
%matplotlib inline

In [26]:
labels = ['Fan of Star Wars', 'Which character shot first?', 'Star Trek Fan', 'Gender', 'Age', 'Household Income', 'Education', 'Location (Census Region)']
features = [col for col in col_names if col not in labels]

print('Features Columns:')
data[features]

Features Columns:

,Seen a Star Wars film,Seen The Phantom Menace,Seen Attack of the Clones,Seen Revenge of the Sith,Seen A New Hope,Seen The Empire Strikes Back,Seen Return of the Jedi,Rank for The Phantom Menace,Rank for Attack of the Clones,Rank for Revenge of the Sith,...,View of Darth Vader,View of Lando Calrissian,View of Boba Fett,View of C-3P0,View of R2 D2,View of Jar Jar Binks,View of Padme Amidala,View of Yoda,Familiar with the Expanded Universe?,Fan of the Expanded Universe?
0,1,1,1,1,1,1,1,3.0,2.0,1.0,...,2,-100,-100,2,2,2,2,2,1,-1
1,0,0,0,0,0,0,0,0.0,0.0,0.0,...,-100,-100,-100,-100,-100,-100,-100,-100,0,0
2,1,1,1,1,0,0,0,1.0,2.0,3.0,...,-100,-100,-100,-100,-100,-100,-100,-100,-1,0
3,1,1,1,1,1,1,1,5.0,6.0,1.0,...,2,1,-1,2,2,2,2,2,-1,0
4,1,1,1,1,1,1,1,5.0,4.0,6.0,...,1,0,2,1,1,-2,1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,1,1,1,1,1,1,1,5.0,4.0,6.0,...,1,1,1,2,2,1,1,2,-1,0
1182,1,1,1,1,1,1,1,4.0,5.0,6.0,...,-2,1,-100,1,2,-1,-1,2,-1,0
1183,0,0,0,0,0,0,0,0.0,0.0,0.0,...,-100,-100,-100,-100,-100,-100,-100,-100,0,0
1184,1,1,1,1,1,1,1,4.0,3.0,6.0,...,2,1,2,1,1,2,1,2,-1,0
1185,1,1,1,0,0,1,1,6.0,1.0,2.0,...,2,-2,-100,1,1,-2,0,-2,-1,0

In [27]:
def gridSearch(label):
    # separate the features from the class label
    X = data.loc[:, features].values
    y = data.loc[:, [label]].values
    
    params = {"max_depth": [5,10,15,20], "max_features": [5,15,25], "min_samples_leaf": [5,10,15] } 
    clf = tree.DecisionTreeClassifier()

    grid_search = GridSearchCV(clf, params, cv=10, scoring='accuracy')

    grid_search.fit(X, y)

    score = cross_val_score(grid_search, X, y, cv =10)
    return score.mean()*100

In [28]:
# run NB on all labels to see which works best
for l in labels:
    print("\nThe average accuracy for the '" + l + "' label is:")
    score = gridSearch(l)
    print(score)

The average accuracy for the 'Fan of Star Wars' label is:
84.49056961347361

The average accuracy for the 'Which character shot first?' label is:
65.3362872311028

The average accuracy for the 'Star Trek Fan' label is:
72.522079670634

The average accuracy for the 'Gender' label is:
59.58409874162617

The average accuracy for the 'Age' label is:
38.41721118662239

The average accuracy for the 'Household Income' label is:
30.61249225476898

The average accuracy for the 'Education' label is:
36.91943955954901

The average accuracy for the 'Location (Census Region)' label is:
22.663590948547085